.hero {
    /* height: 100vh;
    overflow-x: hidden;
    position: relative; */
}

.img-bg-props {
    background-size: cover;
    /* transform: scale(1.1) */
}

.remove-margin-padding {
    margin: 0px;
    padding: 0px;
}

.bg1 {
    /* background-image: url(https://www.buildinamsterdam.com/app/uploads/2019/05/cover_at_van-wou-1-e1557741125282-2200x0-c-default.jpg);
    background-position: 75% 44%; */
    /* background-image: url(https://images.unsplash.com/photo-1514565131-fce0801e5785?); */
    background-position: 30% 82%;
    transform: scale(1.2)
}

.bg2 {
    /* background-image: url(https://www.buildinamsterdam.com/app/uploads/2018/12/Job-2200x0-c-default.jpg);
    background-position: 26% 20%; */
    /* background-image: url(https://images.unsplash.com/photo-1470219556762-1771e7f9427d); */
    background-position: 49% 4%;
    transform: scale(1.5)
}

.bg3 {
    /* background-image: url(https://www.buildinamsterdam.com/app/uploads/2019/05/cover_adidas_futurecraft-4d-e1557414879743-2200x0-c-default.jpg);
    background-position: 50% 44%; */
    /* background-image: url(https://images.unsplash.com/photo-1438955185657-797f29aeaea8); */
    /* background-image: url(../img/france.jpeg); */
    background-position: 51% 48%;
    transform: scale(2.5);
}

.bg4 {
    /* background-image: url(https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?); */
    background-position: 51% 48%;
    /* background-image: url(https://images.unsplash.com/photo-1562368305-c68041ff0244); */
    background-position: 4% 46%;
    /* background-image: url(https://images.unsplash.com/photo-1489493585363-d69421e0edd3); */
    background-position: 67% 56%;
    background-position: 67% 57%;
    transform: scale(1.8);
    /* background-image: url(../img/airplane.jpeg); */
    /* background-position: 67% 56%; */
    background-position: 1% 59%;
    transform: scale(1.35);
}

.bg5 {
    /* background-image: url(https://images.unsplash.com/photo-1564665759044-959473395029); */
    background-position: 82% 53%;
    transform: scale(1.5);
}

.bg6 {
    /* background-image: url(https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111); */
    /* background-image: url(../img/ny_city.jpeg); */
    background-position: 50% 45%;
    transform: scale(1.55);
}


/* .bg1 {
   background-image: url(https://images.unsplash.com/photo-1523059623039-a9ed027e7fad?ixlib=rb-1.2.1&auto=format&fit=crop&w=1317&q=80);
   background-position: 34% 44%;
   background-size: cover;
}

.bg2 {
   background-image: url(https://images.unsplash.com/photo-1519677214308-f7f2f8b71acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
   background-position: 30% 40%;
   background-size: cover;
}

.bg3 {
   background-image: url(https://images.unsplash.com/photo-1470217957101-da7150b9b681?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
   background-position: 60% 44%;
   background-size: cover;
} */

.img-bg-props {
    padding-right: 0px;
    padding-left: 0px;
}

.infoSection {
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
    opacity: 0;
    z-index: -1;
    top: 0;
}

.infoSectionRow {
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
}

#infoSlideBackgroundimage {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.close-button {
    z-index: 99;
    left: 1%;
    top: 1%;
}

@media only screen and (max-width: 768px) {
    /* .swiper-slide {
        width: 100%!important;
    } */
}